h1{
  font-weight: black;
  font-size: 3rem;
}

body{
  width: 100%;
}

.black{
  background-color: #0B0B0B
}

.card-img-top {
  background-size: auto;
}


.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.icons-color {
  color: #FF681F;
}

.img-cmr {
  width: 45%;
  height: 70%;
}

* {
font-family: 'Muli', sans-serif;
}

.myself{
  padding: 12rem;
  margin: 3.438rem;
}

.carousel-indicators{
  margin-top: 2rem;
}
